@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
	font-size: 4rem;
}

#test__id {
	display: flex;
}

#contact {
	flex-grow: 10;
}

div .block {
	text-align: left;
}